functions/hello-csharp/hello-csharp/hello-csharp/obj/Debug/netstandard2.0/hello-csharp.pdb
functions/hello-csharp/hello-csharp/hello-csharp/obj/Debug/netstandard2.0/hello-csharp.dll
functions/hello-csharp/hello-csharp/hello-csharp/obj/Debug/netstandard2.0/hello-csharp.csprojResolveAssemblyReference.cache
functions/hello-csharp/hello-csharp/hello-csharp/obj/Debug/netstandard2.0/hello-csharp.csproj.FileListAbsolute.txt
functions/hello-csharp/hello-csharp/hello-csharp/bin/Debug/netstandard2.0/hello-csharp.pdb
functions/hello-csharp/hello-csharp/hello-csharp/bin/Debug/netstandard2.0/hello-csharp.dll
functions/hello-csharp/hello-csharp/hello-csharp/bin/Debug/netstandard2.0/hello-csharp.deps.json
functions/hello-csharp/hello-csharp/hello-csharp/bin/Debug/netcoreapp2.0/hello-csharp.deps.json
functions/hello-csharp/hello-csharp/hello-csharp/obj/Debug/netstandard2.0/hello-csharp.csproj.CoreCompileInputs.cache
functions/hello-csharp/hello-csharp/hello-csharp/obj/Debug/netcoreapp2.0/hello-csharp.pdb
functions/hello-csharp/hello-csharp/hello-csharp/obj/Debug/netcoreapp2.0/hello-csharp.dll
functions/hello-csharp/hello-csharp/hello-csharp/obj/Debug/netcoreapp2.0/hello-csharp.csprojResolveAssemblyReference.cache
functions/hello-csharp/hello-csharp/hello-csharp/bin/Debug/netcoreapp2.0/hello-csharp.runtimeconfig.dev.json
functions/hello-csharp/hello-csharp/hello-csharp/bin/Debug/netcoreapp2.0/hello-csharp.pdb
functions/hello-csharp/hello-csharp/hello-csharp/obj/project.assets.json
functions/hello-csharp/hello-csharp/hello-csharp/obj/hello-csharp.csproj.nuget.g.targets
functions/hello-csharp/hello-csharp/hello-csharp/obj/hello-csharp.csproj.nuget.g.props
functions/hello-csharp/hello-csharp/hello-csharp/obj/hello-csharp.csproj.nuget.cache
functions/hello-csharp/hello-csharp/hello-csharp/obj/Debug/netcoreapp2.0/hello-csharp.csproj.FileListAbsolute.txt
functions/hello-csharp/hello-csharp/hello-csharp/obj/Debug/netcoreapp2.0/hello-csharp.csproj.CoreCompileInputs.cache
functions/hello-csharp/hello-csharp/hello-csharp/obj/Debug/netcoreapp2.0/hello-csharp.AssemblyInfoInputs.cache
functions/hello-csharp/hello-csharp/hello-csharp/obj/Debug/netcoreapp2.0/hello-csharp.AssemblyInfo.cs
functions/hello-csharp/hello-csharp/hello-csharp/bin/Debug/netcoreapp2.0/hello-csharp.runtimeconfig.json
functions/hello-csharp/hello-csharp/hello-csharp/bin/Debug/netcoreapp2.0/hello-csharp.dll
functions/hello-csharp/hello-csharp/.vs/hello-csharp/v15/Server/sqlite3/storage.ide-wal
functions/hello-csharp/hello-csharp/.vs/hello-csharp/v15/Server/sqlite3/storage.ide
functions/hello-csharp/hello-csharp/.vs/hello-csharp/v15/Server/sqlite3/storage.ide-shm
functions/hello-csharp/hello-csharp/.vs/hello-csharp/v15/.suo
functions/hello-csharp/hello-csharp/.vs/hello-csharp/v15/Server/sqlite3/db.lock
functions/csharp/csharp/.vs/csharp/v15/Server/sqlite3/storage.ide-wal
functions/csharp/csharp/.vs/csharp/v15/Server/sqlite3/storage.ide
functions/csharp/csharp/.vs/csharp/v15/Server/sqlite3/db.lock
functions/csharp/csharp/.vs/csharp/v15/.suo
functions/csharp/csharp/.vs/csharp/v15/Server/sqlite3/storage.ide-shm
functions/csharp/.vs/csharp/v15/Server/sqlite3/storage.ide-wal
functions/csharp/.vs/csharp/v15/Server/sqlite3/storage.ide-shm
functions/csharp/.vs/csharp/v15/Server/sqlite3/db.lock
functions/csharp/.vs/csharp/v15/.suo
functions/csharp/.vs/csharp/v15/Server/sqlite3/storage.ide
functions/csharp/HelloWorldFunc/obj/project.assets.json
functions/csharp/HelloWorldFunc/obj/HelloWorldFunc.csproj.nuget.g.targets
functions/csharp/HelloWorldFunc/obj/Debug/netcoreapp2.0/HelloWorldFunc.pdb
functions/csharp/HelloWorldFunc/obj/Debug/netcoreapp2.0/HelloWorldFunc.dll
functions/csharp/HelloWorldFunc/obj/Debug/netcoreapp2.0/HelloWorldFunc.AssemblyInfo.cs
functions/csharp/HelloWorldFunc/bin/Debug/netcoreapp2.0/HelloWorldFunc.pdb
functions/csharp/HelloWorldFunc/obj/HelloWorldFunc.csproj.nuget.g.props
functions/csharp/HelloWorldFunc/obj/HelloWorldFunc.csproj.nuget.cache
functions/csharp/HelloWorldFunc/obj/Debug/netcoreapp2.0/HelloWorldFunc.csproj.CoreCompileInputs.cache
functions/csharp/HelloWorldFunc/obj/Debug/netcoreapp2.0/HelloWorldFunc.AssemblyInfoInputs.cache
functions/csharp/HelloWorldFunc/obj/Debug/netcoreapp2.0/HelloWorldFunc.csprojResolveAssemblyReference.cache
functions/csharp/HelloWorldFunc/obj/Debug/netcoreapp2.0/HelloWorldFunc.csproj.FileListAbsolute.txt
functions/csharp/HelloWorldFunc/bin/Debug/netcoreapp2.0/HelloWorldFunc.dll
functions/csharp/HelloWorldFunc/bin/Debug/netcoreapp2.0/HelloWorldFunc.deps.json
functions/csharp/CurrentDatetimeFunc/obj/Debug/netcoreapp2.0/CurrentDatetimeFunc.csproj.CoreCompileInputs.cache
functions/csharp/CurrentDatetimeFunc/obj/Debug/netcoreapp2.0/CurrentDatetimeFunc.AssemblyInfoInputs.cache
functions/csharp/CurrentDatetimeFunc/obj/CurrentDatetimeFunc.csproj.nuget.g.targets
functions/csharp/CurrentDatetimeFunc/obj/CurrentDatetimeFunc.csproj.nuget.cache
functions/csharp/CurrentDatetimeFunc/obj/CurrentDatetimeFunc.csproj.nuget.g.props
functions/csharp/CurrentDatetimeFunc/obj/project.assets.json
functions/csharp/CurrentDatetimeFunc/obj/Debug/netcoreapp2.0/CurrentDatetimeFunc.AssemblyInfo.cs
